/* Estilos para centrar el contenido en RegisterBank */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  flex-direction: column;
}

/* Estilos del formulario y sus elementos */
h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin: 30px 0 20px;
}

.Form {
  width: 100%;
  max-width: 640px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* Estilos para campos de entrada de tamaño uniforme */
.input-container input,
.input-container select, 
.form-group select  {
  width: 100%;           /* Ocupa todo el ancho del contenedor */
  height: 45px;          /* Altura fija para todos los campos */
  padding: 12px 15px;    /* Espaciado interno */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

input:focus, select:focus {
  border-color: #ff6b81;
  box-shadow: 0 0 8px rgba(255, 107, 129, 0.3);
}

/* Estilos para los botones */
.register-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ff6b81;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #CC0000;
}

button:active {
  background-color: #b30000;
}
