/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

/* Background color */
body {
	background-image: url("media/background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/* background-color: #F1F1F1;*/
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Navbar */
.navbar {
	width: 100%;
	background-color: #FF4C4C;
	/* Rojo principal */
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.navbar ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.navbar ul li a {
	color: #FFFFFF;
	/* Texto blanco */
	text-decoration: none;
	font-weight: bold;
}

.navbar ul li a:hover {
	text-decoration: underline;
}

/* Main content section */
main {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	/* Centrar horizontalmente */
	align-items: center;
	/* Centrar verticalmente */
	text-align: center;
	/* Centrar texto dentro del contenedor */
	margin-top: 80px;
	/* Deja espacio para la barra de navegación */
}

.content {
	margin-right: 0;
	/* Eliminamos el margen derecho */
}

main h1 {
	color: #FF4C4C;
	/* Rojo principal */
	font-size: 3rem;
}

main p {
	color: #333333;
	/* Gris oscuro para el texto */
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.donate-btn {
	padding: 1rem 2rem;
	background-color: #FF4C4C;
	/* Rojo principal */
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
}

.donate-btn:hover {
	background-color: #CC0000;
}

/* Donation process section */
.donation-process {
	background-color: #FFFFFF;
	padding: 50px 0;
	text-align: center;
}

.donation-process h2 {
	color: #FF4C4C;
	margin-bottom: 30px;
	font-size: 2.5rem;
}

.process-steps {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.step {
	background-color: #E0F7FA;
	padding: 20px;
	border-radius: 10px;
	width: 150px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step h3 {
	color: #333333;
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.step p {
	color: #666666;
}

/* Footer */
footer {
	background-color: #E0F7FA;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	position: relative;
	bottom: 0;
}

footer p {
	color: #333333;
	/* Gris oscuro para el texto del pie de página */
}
