body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
/* Estilos del contenedor general */
.container {
    display: flex;
    width: 100%;
}

/* Estilos del menú lateral izquierdo */
.menu {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu h2 {
    text-align: center;
    background-color: #CC0000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.menu ul li:hover {
    background-color: #e0e0e0;
}

/* Submenú escondido */
.submenu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
}

.submenu li {
    background-color: #fafafa;
    border: 1px solid #ddd;
}

/* Estilos del contenido en el lado derecho */
.content {
    width: 80%;
    padding: 20px;
}

.content h2 {
    text-align: center;
    margin-top: 0;
}

/* Estilos del área para mensaje o imagen */
.message {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    text-align: center;
}